@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Brand color variables remain the same */
        --brand-green-dark: 56 102 65;
        --brand-green: 106 153 78;
        --brand-green-light: 167 201 87;
        --brand-cream: 248 243 231;
        --brand-red: 188 71 73;

        /* Light Mode – Updated */
        --background: var(--brand-cream);
        --foreground: 0 0 0;
        /* Default texts now black */
        --card: 255 255 255;
        --card-foreground: 8 28 30;
        --popover: 230 230 235;
        --popover-foreground: 0 0 0;
        --primary: var(--brand-green);
        /* Green for titles/specific cases */
        --primary-foreground: 255 255 255;
        --secondary: var(--brand-green-light);
        --secondary-foreground: 255 255 255;
        --muted: 175 176 180;
        --muted-foreground: 142 142 147;
        --accent: 255 40 84;
        --accent-foreground: 255 255 255;
        --destructive: var(--brand-red);
        --destructive-foreground: 255 255 255;
        --border: 230 230 235;
        --input: 210 210 215;
        --ring: 230 230 235;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            /* Dark Mode – adjust accordingly */
            --background: 0 0 0;
            --foreground: var(--brand-cream);
            --card: 21 21 24;
            --card-foreground: 255 255 255;
            --popover: 40 40 42;
            --popover-foreground: 255 255 255;
            --primary: var(--brand-green);
            --primary-foreground: 255 255 255;
            --secondary: var(--brand-green-light);
            --secondary-foreground: 255 255 255;
            --muted: 70 70 73;
            --muted-foreground: 142 142 147;
            --accent: 255 52 95;
            --accent-foreground: 255 255 255;
            --destructive: var(--brand-red);
            --destructive-foreground: 255 255 255;
            --border: 40 40 42;
            --input: 55 55 57;
            --ring: 40 40 42;
        }
    }
}